<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <main>
        <% if (circs.length > 0) { %>
            <div class="container">
                <% for (let circle of circs) { %>
                <div class="col-9 mx-auto">
                    <div class="container card d-flex justify-content-center">
                        <img src="<%= circle.imageUrl %>" class="card-img-top" alt="...">
                        <div class="card-body justify-content-center align-items-center">
                            <h5 class="card-title"><%= circle.title %></h5>
                            <p class="card-text"><%= circle.description %></p>
                            <form action="/follow-circle" method="POST">
                                <div class="col text-center">
                                <input type="hidden" value="<%= circle.id %>">    
                                <button type="submit" class="btn btn-primary">Follow Circle</button>
                                    <a href="/" class="btn btn-primary">View Circle</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <% } %>
            </div>
        <% } %>
    </main>

    <%- include('../includes/end.ejs') %>