<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <main>
        <% if (circs.length > 0) { %>
            <div class="container">
                <% for (let circle of circs) { %>
                <div class="col-md-9 mx-auto m-5 p-5">
                    <div class="card" style="width: 35rem;">
                        <img src="<%= circle.imageUrl %>" class="card-img-top" alt="...">
                        <div class="card-body justify-content-center">
                            <h5 class="card-title"><%= circle.title %></h5>
                            <p class="card-text"><%= circle.description %></p>
                            <div class="col text-center">
                                <a href="#" class="btn btn-primary">View Circle</a>
                            </div>
                        </div>
                    </div>
                </div>
                <% } %>
            </div>
        <% } %>
    </main>

    <%- include('../includes/end.ejs') %>